---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Toast from '../components/Toast.astro';
import { ClientRouter } from 'astro:transitions';
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="description" content="Acortador de enlaces" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-slate-900 text-white font-sans">
		<Header />
		<slot />
		<Toast />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Inter', sans-serif;
	}
</style>
